@model List<To_Do.Models.TaskItem>
@{
    ViewData["Title"] = "Tasks List";
}
<h2>To-Do List</h2>

<!-- Add task form -->
<form asp-controller="Tasks" asp-action="Add" method="post" class="mb-3">
    <div class="input-group">
        <input type="text" name="Title" required class="form-control" placeholder="Enter task title..." />
        <button type="submit" class="btn btn-primary">Add Task</button>
    </div>
</form>

<!-- Delete all btn  -->
<form asp-controller="Tasks" asp-action="DeleteAll" method="post">
    <button type="submit" class="btn btn-danger mb-3">Delete AllTasks</button>
</form>

<div class="d-flex justify-content-center">
    <div class="card" style="width: 36rem;">
        <ul class="list-group list-group-flush">
            @foreach (var task in Model)
            {
                <li class="list-group-item custom-list-item">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="completed" onclick="toggleComplete(this);" />
                        @task.Title
                    </label>

                    <!-- Delete button -->
                    <form asp-controller="Tasks" asp-action="Delete" method="post" class="d-inline">
                        <input type="hidden" name="Id" value="@task.Id" />
                        <button type="submit" class="btn btn-sm btn-danger">
                            <span class="bi bi-trash"></span>
                        </button>
                    </form>
                </li>
            }
        </ul>
    </div>
</div>

<script src="~/js/site.js"></script>

